footer
  min-height: 100px
  color: #fff
  padding: 20px
  margin-top: 20px

  .toolbar

    .logo
      background: url('../../../assets/images/logo 64x64.png')
      width: 64px
      height: 64px
      float: left

    a
      text-decoration: dotted
      color: blue